@font-face {
  font-family: Kool Beans; 
  src: url(/fonts/KoolBean.ttf) format("truetype"); 
}

@font-face {
  font-family: Roboto; 
  src: url(/fonts/Roboto.ttf) format("truetype"); 
}


.container {
  max-width: 1250px;
}
body, html {
  overflow-x: hidden;
}
button {
  outline: none;
}
.orange {
  background-color: #FFD100;
  padding: 20px 0px 0px 0px;

}

.jar {
  position: absolute;
  right: -3px;
  top: -3px;
}

.menu-row {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-around;
}
.nav-item {
  font-family: Kool Beans;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 52px;
  -webkit-text-stroke: 1px black;
  color: #FFFFFF;
}
.nav-item:hover {
  color: #FF9595;
  text-decoration: none;
}

.unlock-button-item {
  background: #FF5E5E;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  width: 259px;
  height: 59px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.1em;
}

.unlock-button-item:hover {
  background: #FFF;
}

.upper-title {
  font-family: Kool Beans;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 80px;
  color: #FFEDED;
  text-align: center;
  -webkit-text-stroke: 2px black;
}

.kool-text {
  font-family: Kool Beans;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 115px;
  color: #FFFEFE;
  text-shadow: 15px 7px 2px #FF0000;
  text-align: center;
  margin-top: -45px;
  -webkit-text-stroke: 2px black;
}

.brick-wall {
  width: 100%;
  margin-top: -40px;
  background-image: url(./image/brick-bg-min.png);
  background-size: cover;
  padding-bottom: 230px;
}


.fire-kool {
  text-align: center;
}

.aid-is-ready {
  width: 574px;
  text-align: center;
}
.pro-tip {
  display: flex;
  align-self: flex-end;
}
.tablet-row {
  margin-top: 80px;
}
.tablet-item {
  max-width: 475px;
  height: 220px;
  background: url(./image/bg-tablet.png);
  background-size: cover;
  padding: 30px;
}

.aid-balance-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;

  color: #000000;
}

.amount {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;

  letter-spacing: 0.1em;

  color: #595959;
}
.rending-row {
  padding: 0px 20px;
}
.pending {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
.pending-aid {
  text-align: right;
}

.second-tablet-item {
  padding: 0px 40px;
}
.vipping {
  margin-top: 20px;
  position: absolute;
  right: 10%;
}

.green {
  background-color: #8CC63F;
  padding: 0px;
}

.frog-menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -150px;
}

.frog-menu span {
  font-family: Kool Beans;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 138px;
  -webkit-text-stroke: 2px black;
  color: #FFFFFF;
  text-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}
.actions-container {
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(140, 198, 63, 0.85);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deck-row {
  margin-top: 30px;
}

.deck-item {
  max-width: 500px;
  height: 345px;
  background: url(./image/bg-deck.png);
  background-size: cover;
  padding: 30px 10px;
  margin: 0 auto;
}
.img-container {
    display: flex;
    justify-content: center;
}

.kool-balance-title {
  font-family: Kool Beans;
font-style: normal;
font-weight:normal;
font-size: 43px;
line-height: 48px;
letter-spacing: 0.1em;
-webkit-text-stroke: 1px black;
color: #FFF2E3;
}

.kool-balance-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
}

.select {
  width: 100%;
  background: #FFF2E3;
  border-radius: 5px;
  height: 50px;
  margin-top: -15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;

  color: #6D6200;
}
.select-small {
  font-size: 22px;
}
div.select {
  margin-top: 5px;
  height: 30px;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.footer {
  margin-top: 200px;
}

.footer-nav ul {
  list-style: none;

}
.footer-nav li {
  font-family: Kool Beans;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 57px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.footer-nav li a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-text-stroke: 1px black;
}
.footer-nav li a:hover {
  color: #FF9595;
}

.footer-img {
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
}

.mobile-show {
  display: none;
}








.connect-wallet {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 213, 213, 0.5);
}

.wallet-pop-up {
  max-width: 800px;
  background: rgba(255, 213, 213, 0.94);
  border: 4px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  margin: 0 auto;
  padding: 50px;
}

.wallet-card {
  background: rgba(255, 242, 242, 0.94);
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

.wallet-img {
  text-align: center;
}

.wallet-text {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 30px;

  color: #000000;
}

.wallet-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}
.connect-wallet-button {
  background: rgba(255, 158, 158, 0.94);
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 35px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;

  color: #000000;
}
.cancel-button {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background: #FFF1F1;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;

  color: #494949;
}

.wallet-balance-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 31px;
  text-align: right;
  color: #BC9E9E;
}
.token-amount {
  border: none;
  background: none;
  outline: none;
  max-width: 90%;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 31px;
  text-align: right;
  color: #4A4A4A;
}
.ticker-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}
.ticker-container span, .ticker-container a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 30px;

  color: #000000;
}

.ticker-container a {
  background: rgba(255, 242, 242, 0.94);
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
padding: 8px;
margin-left: 5px;
text-decoration: none;
}
.ticker-container a:hover {
  text-decoration: none;
  background: rgba(255, 143, 143, 0.94);
  cursor: pointer;
}
.input-container {
  width: 100%;
  background: rgba(255, 242, 242, 0.94);
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 5px 0px;
}
.input-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#confirmation-window .cancel-button {
  border-radius: 20px;
}
.row-input-container {
  padding: 0px 15px;
}

.pending-button {
  color: #818181;
  background: rgba(231, 231, 231, 0.94);
}

.success-button {
  color: #0B8E00;
}

@media screen and (max-width: 768px) {
  .mobile-show {
    display: block;
  }
  .aid-is-ready img {
    width: 320px;
  }
  .unlock-button-item, .fire-kool {
    margin: 30px 0px;
    font-size: 25px;
  }
  .nav-item {
    margin: 0px 5px;
  }
  .unlock-button {
    text-align: center;
  }

  .pro-tip {
    display: block;
    align-self: flex-end;
    text-align: center;
  }
  .pro-tip img {
    width: 320px;
    margin-top: 40px;
    margin-bottom: -40px;
  }

  .vipping, .tablet-item img, .deck-item img, .frog-menu img, hr, .footer-img {
    display: none;
  }
  
  .tablet-item {
    background: #fff;
    width: 320px;
    margin: 10px auto;
  }

  .second-tablet-item {
    padding: 0px 20px;
  }

  .pending, .container {
    padding: 0px;
  }
  .pending-aid {
    text-align: left;
  }
  .deck-item {
    max-width: 320px;
    height: 223px;
    /* background-image: url(./image/bg-deck.png); */
    background-size: cover;
    padding: 15px 10px;
    margin: 10px auto;
    background: #916d41;
  }

  .kool-balance-title {
    font-size: 35px;
    line-height: 40px;
  }
  .footer-nav ul:first-child {
    margin-top: -80px;
    margin-bottom: 80px;
    padding: 0px;
  }
  .select {
    font-size: 20px;
    line-height: 26px;
  }
  .amount {
    line-height: 20px;   
  }
  .pending {
      margin-left: -5px;
  }
  .wallet-pop-up {
    padding: 15px;
  }

}